.Logo{
    box-sizing: border-box;
    display: inline-block;
    border-right: 1px solid #e0e0e0;
    height: 100%;
    vertical-align: top;
    padding: 8px;
    padding-right: 35px;
    margin-right: 20px;
}


.Logo img{
    height: 40px;
    top: 12%;
    position: relative;
}