input, input[type=text] {
    height: 48px;
    line-height: 48px;
    padding: 0 20px;
    outline: none;
    font-size: 16px;
    color: gray;
    margin: 0 0 16px;
    max-width: 100%;
    width: 100%;
    box-sizing: border-box;
    display: block;
    background-color: #fff;
    font-weight: 500;
    opacity: 1;
    border-radius: 4px;
    border: none;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.12);
}

.form-control:focus {
    border-color: transparent!important;
    box-shadow: none;
}

.box{
    -webkit-box-pack: center;
            justify-content: center;
    min-width: 175px;
    -webkit-box-flex: 1;
            flex-grow: 1;
    -webkit-box-align: center;
            align-items: center;
}

.react-datepicker__day--keyboard-selected, .react-datepicker__day--selected  {
    background: #fc5426!important;
}

.react-datepicker__day--keyboard-selected, .react-datepicker__day--selected:hover{
    background: #fc5426;
}